.exhibition-show-container {
  /* background-color: rgba(255, 255, 255, 0.8); */
  height: 40%;
  width: 80%;
  max-width: 3000px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.exhibition-show-container .bgm {
  height: 10%;
  width: 95%;
  max-width: 1200px;
  display: flex;
  justify-content: right;
  align-items: center;
}
.exhibition-show-container .inner {
  height: 90%;
  width: 95%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.exhibition-show-container .inner .content {
  border-radius: 10%;
  border: solid 20px;
  border-color: #dd9700;
  height: 1000px;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
